body {
    margin: 0;
    min-height: 100vh;
    font-family: Roboto, 'Open Sans', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.black {
    background-color: #1f2937;
    padding: 25px 150px 50px;
}
.header {
    
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 30px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 600;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.container {
    display: flex;
    width: 480px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex: 1;
}
.hero {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin-bottom: 8px;
}

.herotwo {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 16px;
}

.signup {
    background-color: #3882F6;
    color: white;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid royalblue;
}

.image {
    background-color: grey;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-basis: 80%;
    height: 250px;
    color: white;
    margin-left: 25px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}